<h1>This is your check</h1>

<% people = [] %>
<% total_sum = [] %>
<% individual_tax = {} %>

<% @items.each do |item| %>
  <% people.push(item.person) %>
<% end %>

<% people = people.uniq %>

<% people.each do |person| %>
  <% individual_tax[person] = (@check.tax/people.length).round(2) %>
<% end %>

<% if individual_tax.values.sum != @check.tax %>
  <% r = rand(0..(people.length-1)) %>
  <% individual_tax[people[r]] = (@check.tax - individual_tax.values.sum).round(2) %>
<% end %>

<% i = 0 %>
<% people.each do |person| %>
  <% sum = @check.tax/people.length %>
  <div class="well well-lg col-sm-3 text">
    <%= "#{person}'s check:" %><br>
    <% @items.each do |item| %>
      <% if item.person == person %>
        <div style="text-align: left;">
          <%= item.name %>
          <%= "$#{'%.2f' % item.price}" %><br>
        </div>
        <% sum += item.price %>
      <% end %>
    <% end %>
    <% total_sum.push(sum) %>
    <%= "Tax: $#{'%.2f' % individual_tax[person]}" %><br>
    <%= "Total: $#{'%.2f' % total_sum[i]}" %>
  </div>
  <% i += 1 %>
<% end %>
